@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    font-family: 'Play', sans-serif;
    margin:0px;
    padding: 0px;
}

.grey-bg {
    background-color: #232727;
  }
  body {
    background-color: #141616;
    color:white;
  }
  
  .faceitcolors {
    color: #ff5500;
  }

.searchbar {
    margin: 15px;
    width: 400px;
    height: 50px;
}

.container .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.searchbtn {
    background-image: url("/img/faceit_icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:white;
}

.main {
    border: 0.1px solid #ff5500;
    border-radius: 5px;
    height: 1500px;
}
.playerprofile {
    margin: 15px;
}
.win {
    color: green;
}

.loss {
    color:red;
}
a {
    text-decoration: none;
    color: royalblue;
}
.playerprofile {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%), url("https://distribution.faceit-cdn.net/images/e3c21c03-3235-4c54-85d3-763758e1efa7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.statcard {
    background-color: #343535;
    width: auto;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: left center;
}

.loader-container {
    height: 50rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .loader-container.active {
    opacity: 0;
  }
  
  /* Styling The Svg */
  
  svg.spinner {
    position: relative;
    width: 150px;
    height: 150px;
    animation: rotate 2s linear infinite;
  }
  
  svg.spinner circle {
    width: 100%;
    height: 100%;
    stroke-width: 10;
    fill: none;
    stroke: #ff5500;
    stroke-opacity: 0.8;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    transform: translate(5px, 5px);
    transform-origin: center;
    animation: loader 2s ease-in-out infinite;
  }
  
  /* The Css Animation */
  
  @keyframes loader {
    0% {
      stroke-dashoffset: 440;
    }
  
    50% {
      stroke-dashoffset: 0;
    }
  
    50.1% {
      stroke-dashoffset: 880;
    }
  
    100% {
      stroke-dashoffset: 440;
    }
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  